<div class="row">
    <div class="col-lg-3">
        <section class="panel">
            <header class="panel-heading">
                Users{{searchhh}}
            </header>

            <div class="list-group">
                <a class="list-group-item" ng-class="user.active" ng-click="userchange(user)" ng-repeat="user in users|orderBy:'timestamp':true" style="cursor:pointer;" >{{user.email}}          
                    <span class="datetime" style="font-size: 11px;opacity: 0.6;">{{user.timestamp|date:"h:mma"}}</span>
                    <span class="badge" ng-if="user.textcheck!=0">{{user.textcheck}}</span>
</a>

            </div>
        </section>
    </div>
    <div class="col-lg-6">
<!--        <section class="panel scrollhr" style="overflow-y: scroll; height: 400px; width: 540px; overflow-x: hidden;">-->
  
  <section class="panel">
            <header class="panel-heading">
                Chat with {{currentuser.email}} {{comment}}
                <h5><a ng-show="status1=='mybadgeonline'" class="mybadgeonline" ng-click="changestatus()"></a>
                <a ng-show="status1=='mybadgeoffline'" class="mybadgeoffline" ng-click="changestatus()"></a></span>
<!--                <span ng-click="changestatus()" class="mybadgeoffline" ng-if="status1=='mybadgeoffline'"></span>-->
<!--        <i class="ion-record small offline" ng-if="!online"></i>--></h5>
                <span class="tools pull-right">
                                <a class="fa fa-chevron-down" href="javascript:;"></a>
                                <a class="fa fa-times" href="javascript:;"></a>
                            </span>
            </header>

            <div class="panel-body profile-activity" style="overflow-y: auto; height: 300px; margin-bottom: 10px;">
                <div class="chintan clearfix"><chat></chat></div>
            </div>
            <div>
                <div class="row">
                    <form ng-submit="sendmessage(message.text,0)">
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="txtSendTo" ng-model="message.text" ng-change="checksend()" ng-focus="checksend()">
                        </div>
                        <div class="col-xs-2">
                            <button type="submit" class="btn btn-default" ng-if="showsend">SEND</button>
                        </div>
                    </form>
                </div>


            </div>
        </section>
    </div>




    <!--
<form id="demo-1-form"></form>
<pre data-for="demo-1"></pre>
    
-->

    <div class="col-lg-3">
        <div class="row">
            <section class="panel">
                <header class="panel-heading">
                    Transcript
                </header>

                <div class="list-group">

                    <button class="btn btn-default trans" ng-click="showtranscript()">Transcript</button>

                </div>
                <div class="list-group">

                    <button class="btn btn-default trans" ng-click="showforms()">Forms</button>

                </div>
                <div class="list-group">

                    <button class="btn btn-default trans" ng-click="showproducts()">Products</button>

                </div>
            </section>
        </div>
        <div class="row" ng-show="currentuser.email!=''">
            <section class="panel">
                <header class="panel-heading">
                    Orders Of {{currentuser.email}} {{comment}}
                </header>

                <div class="list-group" ng-show="userorder!=''">

                    <a class="list-group-item" ng-click="oneorderfun(order.id)" ng-repeat="order in userorder" style="cursor:pointer;">{{order.name}}</a>

                </div>
                <div class="list-group" ng-show="userorder==''">

                    <a class="list-group-item">No Orders</a>

                </div>
            </section>
        </div>
    </div>

</div>

<!-- The actual modal template, just a bit o bootstrap   TRANSCRIPT -->
<script type="text/ng-template" id="transcript.html">
    <div class = "modal fade">
        <div class = "modal-dialog">
        <div class = "modal-content">
        <div class = "modal-header">
        <button type = "button" class = "close" ng-click = "close('Cancel')" data-dismiss = "modal" aria-hidden = "true"> &times; </button>
                <h4 class="modal-title">Transcript</h4>
        </div>
              <input type="text" class="form-control" placeholder="Search Transcript" ng-model="searchtr" ng-change="searchtranscript(searchtr)">
              
              
              <button type="button" class="btn btn-default btn-xs" ng-click="inserttranscript()">Insert Transcript</button>
              
              <div class="modal-body">
                <div class="list-group-item" ng-repeat="transcript in transcripts">
                {{transcript.name}}
                
              <button type="button" class="btn btn-default btn-xs" name="check" style="float:right;" ng-click="checktranscript(transcript)" ng-if="level==0">Go</button>
              
              <button type="button" class="btn btn-default btn-xs" name="check" style="float:right;" ng-click="checktranscript(transcript)" ng-if="level!=0">Send</button>
        </div>

              </div>
    <!-- <div class="modal-footer">
    < button type = "button"
    ng - click = "close('No')"
    class = "btn btn-default"
    data - dismiss = "modal" > No < /button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button >
        < /div> -->
            </div>
        </div>
        </div>
</script>

<!-- The actual modal template, just a bit o bootstrap    FORMS  -->
<script type="text/ng-template" id="forms.html">
    <div class = "modal fade">
        <div class = "modal-dialog">
        <div class = "modal-content">
        <div class = "modal-header">
        <button type = "button" class = "close" ng-click = "close('Cancel')" data-dismiss = "modal" aria-hidden = "true"> &times; </button>
                <h4 class="modal-title">Forms</h4 >
        </div>
              <input type="text" class="form-control" placeholder="Search Transcript" ng-model="searchfr" ng-change="searchforms(searchfr)">
              
              <button type="button" class="btn btn-default btn-xs" ng-click="insertform()">Insert Form</button>
              
              <div class="modal-body">
                <div class="list-group-item" ng-repeat="form in forms">
                {{form.name}}
                
              <button type="button" name="check" class="btn btn-default btn-xs" style="float:right;" ng-click="checkforms(form)" ng-if="level==0">Go</button>
              
              <button type="button" name="check" class="btn btn-default btn-xs" style="float:right;" ng-click="checkforms(form)" ng-if="level!=0">Send</button>
        </div>

              </div>
    <!-- <div class="modal-footer">
    < button type = "button"
    ng - click = "close('No')"
    class = "btn btn-default"
    data - dismiss = "modal" > No </button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button >
        < /div> -->
            </div>
        </div>
        </div>
</script>

<!-- The actual modal template, just a bit o bootstrap    FORMS  -->
<script type="text/ng-template" id="products.html">
    <div class = "modal fade">
        <div class = "modal-dialog">
        <div class = "modal-content">
        <div class = "modal-header">
        <button type = "button" class = "close" ng-click = "close('Cancel')" data-dismiss = "modal" aria-hidden = "true" > &times; </button>
                <h4 class="modal-title">Products</h4>
        </div>
              <input type="text" class="form-control" placeholder="Search Products" ng-model="searchpr" ng-change="searchproducts(searchpr)">
              
              
              <button type="button" class="btn btn-default btn-xs" ng-click="insertproduct()">Insert Product</button>
              
              <div class="modal-body">
                <div class="list-group-item" ng-repeat="product in products">
                {{product.name}}
                
              <button type="button" name="check" class="btn btn-default btn-xs" style="float:right;" ng-click="checkproducts(product)" ng-if="level==0">Go</button>
              
              <button type="button" name="check" class="btn btn-default btn-xs" style="float:right;" ng-click="checkproducts(product)" ng-if="level!=0">Send</button>
        </div>

              </div>
    <!-- <div class="modal-footer">
    < button type = "button"
    ng - click = "close('No')"
    class = "btn btn-default"
    data - dismiss = "modal" > No < /button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button >
        < /div> -->
            </div>
        </div>
        </div>
</script>

<!-- The actual modal template, just a bit o bootstrap    ORDER  -->
<script type="text/ng-template" id="order.html">
    <div class = "modal fade">
        <div class = "modal-dialog" style = "width:86%;">
        <div class = "modal-content">
        <div class = "modal-header">
        <button type = "button" class = "close" ng-click = "close('Cancel')" data-dismiss = "modal" aria-hidden = "true" > &times; </button>
                <h4 class="modal-title">Order</h4 >
        </div>
              <div class="modal-body">
              <h5>Order Details</h5>
        <div class = "row list-group-item">
        <div class = "col-lg-6">
        <div class = "col-lg-4">
        Address </div>
        <div class="col-lg-8">: {{order.order.address1}}
        </div>
        </div>
                  <div class="col-lg-6">
                    <div class="col-lg-4">
                    Address 2
                    </div>
        <div class = "col-lg-8">
        : {{order.order.address2}} </div>
                  </div>
        </div>
                  
                  <div class="row list-group-item">
                  <div class="col-lg-6">
                    <div class="col-lg-4">
                    City
                    </div>
        <div class = "col-lg-8">
        : {{order.order.city}} </div>
                  </div>
        <div class = "col-lg-6">
        <div class = "col-lg-4">
        State </div>
        <div class="col-lg-8">: {{order.order.state}}
    </div>
        </div>
                  </div>

    <div class = "row list-group-item">
        <div class = "col-lg-6">
        <div class = "col-lg-4">
        Pincode </div>
                    <div class="col-lg-8">
                    : {{order.order.pincode}}
                    </div>
        </div>
                  <div class="col-lg-6">
                    <div class="col-lg-4">
                    Email
                    </div>
        <div class = "col-lg-8">
        : {{order.order.email}} </div>
                  </div>
        </div>
                  
                  <div class="row list-group-item">
                  <div class="col-lg-6">
                    <div class="col-lg-4">
                    Contact No.
                    </div >
        <div class = "col-lg-8">
        : {{order.order.contactno}} </div>
                  </div>
        <div class = "col-lg-6">
        <div class = "col-lg-4">
        Country </div>
                    <div class="col-lg-8">
                    : {{order.order.country}}
                    </div>
        </div>
                  </div>


    <h5> Shipping Details </h5>
                  <div class="row list-group-item">
                  <div class="col-lg-6">
                    <div class="col-lg-4">
                    Address 1 
                    </div >
        <div class = "col-lg-8">
        : {{order.order.shipaddress1}} </div>
                  </div>
        <div class = "col-lg-6">
        <div class = "col-lg-4">
        Address 2 </div>
                    <div class="col-lg-8">
                    : {{order.order.shipaddress2}}
                    </div>
        </div>
                  </div>

    <div class = "row list-group-item">
        <div class = "col-lg-6">
        <div class = "col-lg-4">
        City </div>
                    <div class="col-lg-8">
                    : {{order.order.shipcity}}
                    </div>
        </div>
                  <div class="col-lg-6">
                    <div class="col-lg-4">
                    State
                    </div>
        <div class = "col-lg-8">
        : {{order.order.shipstate}} </div>
                  </div>
        </div>
                  
                  <div class="row list-group-item">
                  <div class="col-lg-6">
                    <div class="col-lg-4">
                    Shipping Charge
                    </div>
        <div class = "col-lg-8">
        : {{order.order.shippingcharge}} </div>
                  </div>
        <div class = "col-lg-6">
        <div class = "col-lg-4">
        Shipping Code </div>
                    <div class="col-lg-8">
                    : {{order.order.shippingcode}}
                    </div>
        </div>
                  </div>

    <div class = "row list-group-item">
        <div class = "col-lg-6">
        <div class = "col-lg-4">
        Shipping State </div>
                    <div class="col-lg-8">
                    : {{order.order.shipstate}}
                    </div>
        </div>
                  <div class="col-lg-6">
                    <div class="col-lg-4">
                    State
                    </div>
        <div class = "col-lg-8">
        : {{order.order.state}} </div>
                  </div>
        </div>
                  
                  <h5>Items</h5>
        <div class = "row list-group-item" ng-repeat = "item in order.orderitems">
        <div class = "col-lg-6">
        <div class = "col-lg-4">
        <img src = "">
        </div>
                    <div class="col-lg-8">
                    : {{item.name}}
                    </div>
        </div>
                  <div class="col-lg-6">
                    <div class="col-lg-4">
                    {{item.price}}
                    </div>
        <div class = "col-lg-8">
        : {{item.timestamp}} </div>
                  </div>
        </div>
                  
              </div>
    <!-- <div class="modal-footer">
    < button type = "button"
    ng - click = "close('No')"
    class = "btn btn-default"
    data - dismiss = "modal" > No < /button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button >
        < /div> -->
            </div>
        </div>
        </div>
</script>