
  <div class="more-text">
    <toaster-container></toaster-container>

    <h2 class=" text-center" style="color:#049fb3;text-transform: uppercase;">Insert Form</h2>

    <div class="signup-forms">

        <input type="text" ng-model="frm.name" class="form-control" placeholder="Form Name *" ng-class="allvalidation[0].validation" required/>

        <span>Select Product Category</span>

        <select class="form-control" ng-model="frm.categories" ng-class="allvalidation[1].validation" multiple required>
            <option ng-repeat="cat in categories" value="{{cat.id}}">{{cat.name}}</option>
        </select>
        
        <span>Create Form Elements</span>
        
        <p>
        
            <span>
                Add Text, Password Element
            </span>
        
            <a class="btn btn-primary mrr" href="" ng-click="addjson(1)">+</a>
        
        </p>
      
<div class="fromjsontable" ng-if="frm.json!=''" ng-repeat="json in frm.json" style="padding:5px;margin:5px;border:1px solid #ccc;">
   
    <div class="row" >
        <div class="col-md-4">
           <label for="">Type</label>
            <select ng-change="formaddchangetoselect(json)" ng-model="json.type" class="form-control">
                <option value="text">Text</option>
                <option value="password">Password</option>
                <option value="select">Select</option>
            </select>
            <div style="padding:10px;">
                <a class="btn btn-success btn-block" ng-if="json.type=='select'" ng-click="addjsonselect(json);"; >Add</a>
            </div>
        </div>
        <div ng-if="json.type!='select'">
            <div class="col-md-4">
                <label for="">Value</label>
                <input type="text" ng-model="json.value" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="">Title</label>
                <input type="text" ng-model="json.title"  class="form-control">
            </div>
        </div>
        <div ng-if="json.type=='select'">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-5">
                        <div ng-repeat="sinval in json.value">
                            <label for="">Value</label>
                            <input type="text" ng-model="sinval.value" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div ng-repeat="sinval in json.value">
                            <label for="">Title</label>
                            <input type="text" ng-model="sinval.title" class="form-control">
                        </div>
                    </div>
                    
                    <div ng-repeat="sinval in json.value">
                           <label for="">&nbsp;</label>
                        <div class="col-md-2"><a class="btn btn-danger btn-block" ng-click="deleteselectval(json.value,$index);" >-</a></div>
                    </div>
                </div>
            </div>
           
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-4">
           <label for="">Placeholder</label>
            <input type="text" ng-model="json.placeholder" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="">Name</label>
            <input type="text" ng-model="json.name" class="form-control">
        </div>
        <div class="col-md-4">
           <label for="">&nbsp;</label>
            <a class="btn btn-danger btn-block" ng-click="remove($index)">Delete</a>
        </div>
    </div>
</div>

        <a class="btn btn-primary mrr" href="" ng-click="saveform(frm)">Save</a>
        <a class="btn btn-primary mrr" href="" ng-click="addnewform()">Add New</a>

    </div>

</div>

