<div class="activity {{comment.name|chatcolor}} terques" ng-repeat="comment in comments">
    <span>
                                      <i class="fa fa-shopping-cart"></i>
                                  </span>

    <div class='activity-desk' ng-show="comment.type!=3">
        <div class='panel'>
            <div class='panel-body'>
                <div class='{{comment.name|chatclass}}'></div><i class='fa fa-clock-o'></i>
                <h4>{{comment.timestamp|converttime}}</h4>
                <p>{{comment.text}}</p>
            </div>
        </div>
    </div>

    <div class='activity-desk' ng-show="comment.type==3">
        <div class='panel'>
            <div class='panel-body'>
                <div class='{{comment.name|chatclass}}'></div><i class='fa fa-clock-o'></i>
                <h4>{{comment.timestamp|converttime}}</h4>
                <form form-controller="home">
                    <p ng-repeat='form in comment.text|chatt'>
                        <input type="text" placeholder='{{form.placeholder}}' class="form-control" ng-model='{{form.name}}' ng-if="form.type=='text'">
                        <input type="password" placeholder='{{form.placeholder}}' class="form-control" ng-if="form.type=='password'">
                        <select ng-if="form.type=='selection'" class="form-control" >
                            <option>{{form.placeholder}}</option>
                            <option ng-repeat="frm in form.value">{{frm.title}}</option>
                        </select>
                    </p>
                    <p>
                        <button type="submit" class="btn btn-default" ng-click="formsubmit(form)">Submit</button>
                        <button type="cancel" class="btn btn-default">Cancel</button>

                    </p>
                </form>
            </div>
        </div>
    </div>

</div>